# ! Ignore DS_Store
.DS_Store

# !  Ignore files
config.py
config_evangeline.py

# ! Ignore CSVs
crime_cleaned.csv
filtered_cata_1.csv
filtered_cata_2.csv
filtered_cata_3.csv
filtered_cata_4.csv
filtered_cata_5.csv

# ! Ignore datasets
Datasets_1
Datasets_2
CSVs1
CSVs


# ! Ignore 
__pycache__
holiday_seasons